<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="/images/icon.ico" />
	<title>Kinofil - Movies</title>
</head>

<body>
	<%- include("./navbar.ejs") %>

	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<%- include("./search.ejs") %>

			<div class="row" id="movies-list">
				<% 
				let i = 1;
				movies.forEach( (movie) =>{
					
				let idCon="contenedor-"+i;
				let idTitle="title-"+i;
				
				let idModal="modal-"+movie._id;
				%>

				<div class="col s2 m3">
					<a href="/movies/<%=movie._id %>">
						<div class="movies-card card">

							<div class="card-image">
								<img class="movie-image" src=<%=movie.poster %> height="100%" width="100%" />
								<% if (movie.overview.length > 190) { %>
								<span class="descrip card-title" id=<%= idCon %>><%= movie.overview.substring(0,120) %>
									...
								</span>
								<% } else { %>
								<span class="descrip card-title" id=<%= idCon %>><%= movie.overview %></span> </span>
								<% } %>
								<span class="movie-title card-title" id=<%= idTitle %>><%= movie.title%></span>
								<% i+=1; %>
								<a href="#modal1"
									class="btn-floating halfway-fab waves-effect waves-light orange modal-trigger tooltipped"
									data-tooltip="Add a review"><i class="material-icons" id=<%= idModal %>>add</i></a>


							</div>
						</div>
					</a>
				</div>

				<%}  )%>
			</div>

			<div id="modal1" class="modal">
				<div class="modal-content">
					<h4>Review</h4>
					<div class="row">
						<div class="col s2 m2">
							<a class="btn-floating  waves-effect waves-light yellow tooltipped star" data-tooltip="1"><i
									id="star-1" class="material-icons">stars</i></a>
						</div>
						<div class="col s2 m2">
							<a class="btn-floating  waves-effect waves-light yellow tooltipped star" data-tooltip="2"><i
									id="star-2" class="material-icons">stars</i></a>
						</div>
						<div class="col s2 m2">
							<a class="btn-floating  waves-effect waves-light yellow tooltipped star" data-tooltip="3"><i
									id="star-3" class="material-icons">stars</i></a>
						</div>
						<div class="col s2 m2">
							<a class="btn-floating  waves-effect waves-light yellow tooltipped star" data-tooltip="4"><i
									id="star-4" class="material-icons">stars</i></a>
						</div>
						<div class="col s2 m2">
							<a class="btn-floating  waves-effect waves-light yellow tooltipped star" data-tooltip="5"><i
									id="star-5" class="material-icons">stars</i></a>
						</div>

					</div>
				</div>
			</div>
			<br><br>


		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/javascripts/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="/javascripts/list-search.js"></script>
	<script src="/javascripts/movies.js"></script>
</body>

</html>