<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<link href="stylesheets/materialize.css" type="text/css" media="screen,projection" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href=".././images/icon.ico" />
	<title> Kinofil - <%= movie.title %> </title>
</head>

<body>
	<!--NAVBAR-->
	<%- include("./navbar.ejs") %>

	<nav class="orange">
		<div class="nav-wrapper orange container">
			<div class="col s12">
				<a href="/" class="breadcrumb">Home</a>
				<a href="/movies" class="breadcrumb">Movies</a>
				<a href="#!" class="breadcrumb"><%=movie.title%></a>
			</div>
		</div>
	</nav>

	<div class="section no-pad-bot" id="index-banner">
		<div class="container">

			<div class="row">
				<div class="col s6 m4">
					<div class="card-image">
						<img src=<%=movie.poster %> height="500pt">
					</div>
				</div>

				<div class="col s6 m8">
					<div class="card white">
						<div class="card-content" id=<%=movie._id %>>
							<span class="card-title"><%= movie.title %></span>
							<p>Original title: <%= movie.original_title %></p>
							<p>Release date: <%= movie.release_date %></p>
							<span class="card-title"><% 
								let reviews=movie.reviews || [0];
								let sum=reviews.reduce(
								(a,b)=>parseInt(a)+parseInt(b), 0);
								let prom=sum/reviews.length;
								%> Rating: <%= prom %></span>
							<p><%= movie.overview %></p>
						</div>
						<div class="card-action">
							<span class="watched">
								<% if (login && user.watched && user.watched.includes(`${movie._id}`)) { %>
								<button class="btn orange" id="rem-watched">Remove from watched</button>
								<% } else if (login) { %>
								<button class="btn orange" id="add-watched">Add to watched</button>
								<% } else { %>
								<button data-target="login-dialog" class="btn modal-trigger" id="none-watched">Add to
									watched</button>
								<% } %>
							</span>
							<span class="watchlist">
								<% if (login &&  user.watchlist && user.watchlist.includes(`${movie._id}`)) { %>
								<button class="btn orange" id="rem-watchlist">Remove from watchlist</button>
								<% } else if (login) { %>
								<button class="btn orange" id="add-watchlist">Add to watchlist</button>
								<% } else { %>
								<button data-target="login-dialog" class="btn modal-trigger" id="none-watchlist">Add to
									watchlist</button>
								<% } %>
							</span>
							<span class="watching">
								<% if (login &&  user.watching && user.watching.includes(`${movie._id}`)) { %>
								<button class="btn orange" id="rem-watching">Remove from watching</button>
								<% } else if (login) { %>
								<button class="btn orange" id="add-watching">Add to watching</button>
								<% } else { %>
								<button data-target="login-dialog" class="btn modal-trigger" id="none-watching">Add to
									watching</button>
								<% } %>
							</span>
							<br><br>
							<span class="favorites">
								<% if (login &&  user.favorites && user.favorites.includes(`${movie._id}`)) { %>
								<button class="btn orange" id="rem-favorites">Remove from favorites</button>
								<% } else if (login) { %>
								<button class="btn orange" id="add-favorites">Add to favorites</button>
								<% } else { %>
								<button data-target="login-dialog" class="btn modal-trigger" id="none-favorites">Add to
									favorites</button>
								<% } %>
							</span>

							<% if (login) { %>
							<span class="username" id=<%= user.username %>> </span>
							<% } %>

							<!-- Modal Structure -->
							<div id="login-dialog" class="modal">
								<div class="modal-content">
									<h4>Ooops! Seems you can't do this :(</h4>
									<p>
										In order to use this function you need to have an account with us and log in
										to
										it.
									</p>
								</div>
								<div class="modal-footer">
									<a href="/login"
										class=" modal-action modal-close waves-effect waves-green btn-flat">Login</a>
									<a href="/signup"
										class=" modal-action modal-close waves-effect waves-green btn-flat">Signup</a>
									<a href="#"
										class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="../javascripts/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="../javascripts/movie.js"></script>
</body>

</html>